body,
html {
  height: 100vh;
  width: 100%;
}
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #e92730;
}
::-webkit-scrollbar-thumb:hover {
  background: #e92730;
}
